.timesheet-table table {
  width: 100%;
  border-collapse: collapse;
  margin-bottom: 20px;
}


.timesheet-table td {
 
  padding: 10px;
  border: 1px solid #ddd;
  text-align: center;
}

.timesheet-table th {
  background-color: #f4f4f4;
  font-weight: bold;
}

.timesheet-table input {
  box-sizing: border-box;
  width: 100%;
  padding: 5px;
  margin: 5px 0;
}

.timesheet-table button {
  background-color: #04AA6D;
}

.timesheet-table button.delete{
  background-color: #e70707;
}
button {
  background-color: #008CBA;
}